body {
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;   
}

#form {
    padding-left: 100px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    float: left;
    display: inline-block;
}

#form2 {
    padding-left: 100px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 60px;
    float: left;
    display: inline-block;
}

#image {
    padding-right: 80px;
    padding-top: 150px;
    float: left;
    display: flex !important;
    justify-content: center !important;
}

#TitleBlue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: Highlight !important;
    display: grid;
    justify-content: center;
    align-content: center;
}

#TitleGreen {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #13B57E !important;
    display: grid;
    justify-content: center;
    align-content: center;
}

#loginForm {
    font-family: Arial;
    font-size: small;
    padding-top: 10px;
}

.form-control {
    width: 290px !important;
    height: 25px !important;
    display: flex;
    justify-content: center;
}

.button-div {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #13B57E;
    border-radius: 10px;
    border: none;
    width: 135px !important;
    height: 35px !important;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
}

#registerText {
    font-family: Arial;
    padding-top: 20px !important;
    font-size: 14px;
}

    #registerText > a {
        font-weight: bold;
        color: Highlight !important;
        font-size: 15px;
    }

.container-menu {
    display: flex;
}

#logoImgMenu {
    padding-top: 15px;
    padding-bottom: 10px;
}

#tableCol {
    padding-right: 15px;
    padding-left: 240px;
    padding-top: 20px;
}

#menu {
    float: left;
    display: flex;
    justify-content: center;
}

.vertical-menu {
    width: 200px;
    height: 120vh !important;
    background-color: Highlight;
    justify-content: left !important;
    align-content: center !important;
}

    .vertical-menu a {
        color: white; /* Black text color */
        display: block; /* Make the links appear below each other */
        text-decoration: none; /* Remove underline from links */
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 14px;
    }

        .vertical-menu a.active {
            background-color: Highlight; /* Add a green color to the "active/current" link */
            color: white;
        }

    .vertical-menu a img {
        padding-top: 10px;
    }

#id-Parent {
    display: flex;
}

.button-menu-Parent {
    float: right;
    display: inline;
    justify-content: center;
    padding-right: 20px;
}

.button-parent {
    background-color: Highlight;
    border-radius: 10px;
    border: none;
    width: 135px !important;
    height: 25px !important;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.text-danger {
    color: red !important;
    font-family: Arial;
    font-weight: bold;
}

#sectionTitle {
    font-family: Arial;
    padding-top: 0px;
    color: #3B3B3B;
    font-size: 28px;
    font-weight: bold;
}

#table-News {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 25px;
    font-family: Arial !important;
    font-size: 12px;
}

    #table-News tr {
        vertical-align: middle;
    }

#newsTitle {
    text-align: center !important;
    font-family: Arial !important;
    color: Highlight;
    font-weight: bold;
    font-size: 14px;
}

#row-News td {
    border: solid 1px #6A82B2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.containerDashboard {
    display: grid;
    justify-content: left;
    align-content: center;
    width: 100% !important;
}

.rowMenu {
    display: -webkit-box;
    width: 1100px;
}

#menu-Parent {
    padding-top: 40px;
    margin-right: 0px;
}

.info-Content {
    margin-left: 40px;
    display: inline-grid;
    width: inherit;
    padding-right: 20px;
}

.info-Section{
    
}

#sectionTable {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.noData{
    padding-top: 10px;
    text-align: center;
}

#table-Devices {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 25px;
    font-family: Arial !important;
    font-size: 12px;
    width: 45%;
    text-align: center;
}

#table-Devices h5{
    font-weight: bold;
}

    #table-Devices tr {
        vertical-align: middle;
    }

        #table-Devices tr td {
            padding-bottom: 20px;
        }

#devicePhoneTable {
    padding-top: 30px;
}

#deviceName{
    display: inline-flex;
}

#deviceName a {
    padding-right: 20px;
}

    #deviceName button {
        padding-left: 20px;
        border: none;
        background-color: white;
        padding-bottom: 20px;
    }

#table-Windows-Accounts {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 25px;   
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
}

    #table-Windows-Accounts tr th {
        font-family: Arial !important;
        font-size: 22px;
        color: #5D5857;
        padding-bottom: 20px;
    }

    #table-Windows-Accounts tr td p {
        font-size: 17px;
        margin-top: auto;
        margin-bottom: auto;
    }

.btnSave {
    text-align: center;
    padding-top: 40px;
}

#btnGuardar{
    width: 12%;
    font-weight: bold;
}

#table-DevicePhone {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 35px;
    margin-left: 35px;
    width: 60%;
    vertical-align: middle;
    font-family: Arial;
    font-size: 18px;
}

    #table-DevicePhone tr td p {
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: bold;
        font-family: Arial;
        text-align: center;
    }

#table-DeviceUse {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 35px;
    margin-left: 35px;
    width: 30%;
    vertical-align: middle;
    font-family: Arial;
    font-size: 15px;
}

    #table-DeviceUse tr td p {
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: bold;
        font-family: Arial;
        text-align: center;
    }









@media (max-width: 600px) {
    .container {
        display: inline-block;
        justify-content: center;
        align-content: center;
    }

    #image {
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 0px;
    }

        #image img {
            width: 50%;
            height: auto;
        }

    #form {
        padding-top: 10px;
    }

    #form2 {
        padding-top: 10px;
    }

    .rowMenu {
        width: 100px !important;
    }   

    #logoImgMenu img {
        width: 75% !important;
        height: auto !important;
        padding-left: 0px;
    }

    .info-Content {
        margin-left: 14px;
        width: 350px;
    }

    .info-Section{
        padding-top: 50px;
    }

    .vertical-menu {
        width: 100px;
        height: auto !important;
    }

    .vertical-menu a {
        font-size: 0;
    }

        .vertical-menu a img {
            width: 50%;
            height: auto;
            padding-top: 25px;
        }

    #deviceName{
        width: 350px;
    }

        #deviceName div input {
            width: 200px;
            font-size: 20px;
        }

    #btnGuardar {
        width: 50%;
    }

    .btnSave {
        padding-bottom: 50px;
    }

    #table-Devices {
        margin-left: -35px;
    }
}